
/*PRODUCT IMAGE*/

.product-image-container{
    position: relative;
}

.product-image{
    z-index: 5;
    width: 80%;
    margin-left: 10%;
}

.div-product-image{
    z-index: 3;
    display: grid;
    position: absolute;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 120px;
}

.div-product-image-overlay{
    display: grid;
    height: 120px;
}

.div-product-image-bg{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/*PRODUCT DETAILS*/

.product{
    padding: 15px 10px 15px 10px;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Bahnschrift', sans-serif;
    overflow-y: scroll;
}

.pricing-qty{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr auto auto;
}

.div-add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-subtitle{
    font-size: 17px;
    margin: 0;
    transition: font-size 0.3s;
}

.item-title{
    font-size: 20px;
    margin: 0;
    line-height: 20px;
    transition: font-size 0.2s;
}

.item-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin: 10px 20px;
}

/* Buttons */

.btn-add-to-cart{
    margin-top: 10px;
    background-color: rgba(0,0,0,0.4)!important;
    color: white!important;
    border-radius: 15px!important;
    border: 0px solid white !important;
}

.div-btn-back{
    z-index: 5;
    display: none !important;
    padding: 20px;
}

.btn-back{
    background-color: rgba(0,0,0,0.4)!important;
    color: white !important;
    border-radius: 20px !important;
}

.ant-tag{
    height: 100%!important;
    width: 100% !important;
    border-radius: 20px !important;
    font-size: 14px!important;
    text-align: center;
    padding-top: 4px !important;
}

/* EXPANDED VIEW */

.expanded{
    z-index: 8;
    position: fixed !important;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}

.expanded .div-btn-back{
    z-index: 5;
    display: grid !important;
    grid-template-columns: auto 1fr auto !important;
}

.expanded .product{
    position: absolute !important;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}

.expanded .item-title{
    font-size: 30px !important;
}

.expanded .item-subtitle{
    font-size: 24px !important;
}

.expanded-info{
    position: absolute;
    z-index: 20 !important;
    margin-top: 425px;
    left: 0;
    width: 100%;
    background-color: white!important;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 20px 70px 20px;
}

.description{
    margin-top: 20px;
}

.expanded .div-add-to-cart{
    position: fixed;
    bottom: 0;
    left:0;
    background-color: white;
    width: 100%;
    padding: 15px;
}

.expanded .exp-bottom{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.expanded .btn-add-to-cart{
    font-size: 20px;
    padding-top: 2px;
    border-radius: 10px!important;
}
