.product-category-title{
    font-weight: bold;
    font-size: 25px;
    margin: 100px calc(50% - 168px) 35px calc(50% - 168px);
}

.product-category-title p{
    margin-bottom: 0;
}

.ant-back-top{
    z-index: 6!important;
}

.ant-back-top-content{
    background-color: rgb(47,47,47)!important;
    border: 1px solid white;
}

.div-btn-filter{
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.btn-filter{
    background-color: rgb(47,47,47)!important;
    color: white!important;
    border-radius: 20px!important;
    border: none !important;
}

.filter-category{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 0px;
    margin-top: 20px;
}
