@font-face {
font-family: "Bahnschrift";
src: url("assets/fonts/BAHNSCHRIFT.TTF") format("ttf"),
}

.customer-view{
    margin-top: 80px;
}

/* INPUTS */

.ant-input{
    border-radius: 10px;
}

.ant-select-selector{
    border-radius: 10px!important;
}

.ant-input-number{
    border-radius: 10px!important;
}


.ant-input-password{
    border-radius: 10px;
}

/* BUTTONS */

.ant-btn{
    border-radius: 5px;
}


/* MODALS */

.ant-modal-content, .ant-modal-header{
    border-radius: 10px!important;
}

/* MENUS */

.ant-menu-submenu-selected {
    color: #3B993B !important;
}

.ant-menu-item-selected {
    color: #3B993B !important;
}

.ant-menu-item-selected i{
    color: #3B993B !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color:#dfffdf !important;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
    color: #3B993B !important;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover i{
    color: #3B993B !important;
}

.ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after{
    color: #3B993B !important;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
    border-right-color: #3B993B !important;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
    color: #000000 !important;
}

/* SCROLLBARS */

/* Works on Firefox */
* {
    scrollbar-width: 0px;
    scrollbar-color: #dfdfdf transparent;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
  }

/*SPINNER*/

.spinner {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 4px;
}

.ant-spin-text{
    color: green;
}

/* FOOTER */

.app-container{
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

.footer{
    background-color: #2f2f2f;
    color: white;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.footer p{
    margin-bottom: 0;
}
